.venv/
.idea/
.env
__pycache__/
*.pyc
.python-version
training.log

/data/
/models/
/artifacts/
mlflow_artifacts/
*.log


.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

.airflow/


*.pt
*.pth
*.bin


.DS_Store
